@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #0078FF;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: rgba(0, 0, 0, 0.9);
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.4);
	/* border: 1px solid #555555; */
}

p{ 
  font-weight: 200;
}

.clear-initial{ 
  opacity: 0;
  transform: translateY(-200px);
} 
main{ 
  background-color: rgb(0, 0, 0);
  min-height: 120vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.wrapper-presentation{ 
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  left:0;
  top:0;
  background-color: black;
  overflow: hidden;
  z-index: 900;
  overflow: hidden;
}

nav{
  position: fixed;
  display: flex !important;
  left: 0;
  z-index: 100;
  width: 100vw;
  padding:32px 42px;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  /* background-color:rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px; */
}

.nav-min{
  padding:14px 28px;

  background-color:rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

nav > h3{ 
  text-transform: uppercase;
}

nav > a{
  margin: 0 22px;
}

nav > a:nth-child(2){
  margin-left: auto !important; 
}


.main-container{
  overflow: hidden;
  height: calc(100vh);
  width: 100vw;
  position: relative;
}

.wrapper-desktop{
  height: 100vh;
  position: relative;
}

.blured{
  background-color:rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

.main-container > .blured{ 
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.4);
  position: absolute;
  backdrop-filter: saturate(180%) blur(10px);
  left:0;
  top:0;
}

.wrapper-content{
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
}

.blured-input  input{
  background-color:rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
  transition: 0.2s all;
}

.wrapper-components{
  margin: 0px 56px;
  padding: 0px 24px;
}

.wrapper-pokecard{
  /* min-height: 25vh; */
  margin: 24px 0px;
  padding: 24px;
  border-radius: 5px;

}

.column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section{
  height: 100vh;
  width: 100vw;
}

.wrapper-sect{ 
  padding: 68px 28px;
  background-color: rgb(15, 15, 15);
  position: relative;
}

.wrapper-sect > svg{
  position: absolute;
  top: -320px;
  left:0;
}

.column-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .wrapper-sect .wrapper-card{
  width: 60vw;
} */
.wrapper-card{
  background-color: #181A1D;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  height: fit-content;
  flex-direction: column;
}

.wrapper-card > img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.list-tech{
  margin: 24px 0px;
}
.list-tech > li{
  margin: 8px 0px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 0.2s all linear;
}

.list-tech > li:hover{ 
  cursor: pointer;
  transform: scale(1.01);
  background-color: var(--primary-color);
}

.mantine-Button-filled{
  background-color: var(--primary-color) !important;
  font-weight: 300;
  font-size: 12px;
  padding:0px 16px !important;
  transition: 0.2s all;
  border:1px solid var(--primary-color);
}

.mantine-Button-filled:hover{
  filter:brightness(0.9);
  /* transform: scale(1.02); */
}

.mantine-Button-filled:active{
  transform: scale(0.9) !important;

}

.mantine-Button-filled:focus{
  outline: none;
}

.grid-auto{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
}

.mantine-clmfh4{
  color: white;
  font-weight: lighter;
  border-radius: 4px;
  border-color: rgba(255,255,255, 0.8);
}

/* .wrapper-about{
  position: relative; 
  background-color: #131416;
  background: linear-gradient(116.13deg, #000000 39.64%, #37C2EE 40.14%, #1CBE7A 45.5%, #000000 60.79%);
} */

.wrapper-about{
  padding:0px 0px;
  background-color: #131416;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  min-height: 100%;
}

.wrapper-sidenav{
  padding: 68px 14px;
  /* border-right:1px solid rgb(78, 78, 78); */
  height: 100%;
  background-color:black;
  min-width: 240px;
  position:sticky;
  height: 100%;
}

.wrapper-group > h4{
  text-transform: uppercase;
  font-size: 14px;
  margin: 16px 8px;
}

.wrapper-group > div > a{ 
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s all ;
  font-size: 12px;
}

.wrapper-group > div > a:hover{ 
  background-color: rgba(255, 255, 255, 0.1);
  color:white;
}

.wrapper-dashboard{
  margin: 68px 24px;
  padding: 24px;
  width: 100%;
}

.wrapper-dashboard-item{
  min-height: 90%;
  width: 100%;
  border-radius: 4px;
  padding: 8px 24px;
  margin-bottom: 24px;
  /* background-color: rgb(9, 9, 9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4); */
  /* box-shadow:1px 1px 25px rgba(255,255,255,0.05); */

}

.nav-selected{ 
  background-color: var(--primary-color);
}

.wrapper-task-card{
  transition: 0.2s all; 
  background-color: rgb(9, 9, 9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  /* box-shadow:1px 1px 25px rgba(255,255,255,0.05); */
  cursor: pointer;
  position: relative;
}

.wrapper-task-card::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 2%;
  width: 0;
  transition: 0.4s all;
  height: 0px;
  background-color: gray;
  opacity: 0;
}

.wrapper-task-card:hover{ 
  /* box-shadow:1px 1px 25px rgba(255,255,255,0.05); */
  transform: scale(1.03);
  
}

.task-card-completed::before{
  width: 96%;
  height: 1px;
  opacity: 1;
  transition: 0.4s all;

}

.task-card-completed{
  color:gray;
}